h1{
    color: red;
    text-align: center;
}
h2{
    color: yellow;
}
h3{
    color: blue;
    border: 2px dotted green;
    
}
strong{
    border: solid;
    background-color: rgb(127, 251, 255);
    border-radius: 8px;
}
a{
     margin: 100px;
}